{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <section>
    <div class="form">
      <h1 class="form__title">Список товарів</h1>
      {{#with data.products}}

      {{#if isEnpty}}
       <div class="form__a">Товари не додані</div>
      {{else}}
      <div>
        {{#each list}}
        {{>product-card}}
        {{/each}}
      </div>
      {{/if}}
      {{/with}}
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}