@use '../../lib/service.scss' as s;

@use '../../component/purchase-product/style.scss' as purchseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;

.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}

.header {
   padding-bottom: 15px;

   &__title {
      font-size: 35px;
      color: black;
      padding-bottom: 15px;
   }
   
   &__info {
      font-size: 15px;
      color: rgb(53, 50, 50);
   }
}

.card {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding-left: 30px;
}

.product-info {
   display: flex;
   flex-direction: column;
   gap: s.space(4);
   align-items: flex-start;
}

.product-info__title {
   font-size: 20px;
   font-weight: bold;
}

.product-info__subtitle {
   font-size: 16px;
   color: s.color(gray);
}

.product-info__button {
   background-color: s.color('second');
   color: white;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   transition: opacity 0.3 ease;

   &:hover {
      opacity: 0.7;
   }
}

.product-info__image {
   background-image: url(../img/photo.png);
   width: 600px;
   height: 450px;
}

.product-info__category1 {
   border: 1px solid rgb(8, 176, 36);
   color: rgb(8, 176, 36);
   border-radius: 15px;
   text-align: center;
   padding: 5px;
}

.product-info__category2 {
   border: 1px solid rgb(5, 132, 196);
   color: rgb(5, 132, 196);
   border-radius: 15px;
   text-align: center;
   padding: 5px;
}