@use '../../lib/service.scss' as s;

.header {
   padding-bottom: 15px;

   &__title {
      font-size: 35px;
      color: s.color('second');
   }
   
   &__info {
      font-size: 15px;
   }
}

.card {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding-left: 30px;
}